{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Cursos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Instituição</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.nome }}</td>
                <td>{{ curso.instituicao }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">Nenhum curso cadastrado</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}